.App {
  padding-top: 5.25em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3.2em;
  font-family: "Poppins", sans-serif;
  background-color: var(--Very-Light-Gray);
  /* opacity: 0; */
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 800px) {
  .App {
    padding-top: 4.9em;
  }
}


@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("./fonts/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}
