html {
  /* ### Primary */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* ### Neutral */
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  margin: 0;
  /* background-image: url("./design/mobile-design.jpg");
  background-repeat: no-repeat; */
}

/* @media (min-height: 800px) {
  body {
    background-image: url("./design/desktop-design.jpg");
    background-repeat: no-repeat;
  }
} */

*,
::before,
::after {
  box-sizing: border-box;
}